<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="currentVersion" value="${assembly-version}"/>
  <variable name="logPath" value="${specialfolder:folder=ApplicationData}/ReportJ/logs/${currentVersion}_${shortdate}.log"/>
  <variable name="tab" value="	"/>

  <variable name="exceptionDetails" value="${exception:format=Message,StackTrace:innerFormat=ToString:maxInnerExceptionLevel=5:separator=\n:innerExceptionSeparator=\n}"/>
  <variable name="detailedLayout" value="${longdate}${tab}${uppercase:${level}}${tab}${message}${newline}${exceptionDetails}"/>

  <targets>
    <target name="logFile" xsi:type="File" fileName="${logPath}" layout="${detailedLayout}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>