.fade {
    &-enter {
        opacity: 0.01;

        &.fade-enter-active {
            opacity: 1;
            transition: opacity 300ms ease-in;
        }
    }

    &-leave {
        opacity: 1;

        &.fade-leave-active {
            opacity: 0.01;
            transition: opacity 250ms ease-in;
        }
    }
}

.scale {
    &-enter {
        transform: scaleY(0);

        &.scale-enter-active {
            transform: scaleY(1);
            transition: transform 300ms ease-in;
        }
    }

    &-leave {
        transform: scaleY(1);

        &.scale-leave-active {
            transform: scaleY(0);
            transition: transform 100ms ease-in;
        }
    }
}