.switch {
  --switch-width: 2.2rem;
  --switch-height: 1.2rem;
  --slider-checked-transition: 1.1rem;
  --animation-speed: 0.25s;

  display: inline-block;
  height: var(--switch-height);
  position: relative;
  width: var(--switch-width);
}

.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.switch__slider {
  background-color: var(--color-background);
  border-radius: var(--switch-height);
  box-shadow: var(--shadow-small);
  cursor: pointer;
  position: absolute;
  transition: var(--animation-speed);
  width: var(--switch-width);

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.switch__slider:before {
  background-color: var(--color-background-dark);
  border-radius: 50%;
  box-shadow: var(--shadow-small);
  content: '';
  position: absolute;
  transition: var(--animation-speed);

  height: var(--switch-height);
  width: var(--switch-height);
  left: 0;
  bottom: 0;
}

.switch input:checked + .switch__slider {
  background-color: var(--color-primary);
  box-shadow: var(--shadow-small-primary);
}

.switch input:focus + .switch__slider {
  box-shadow: var(--shadow-small-primary);
}

.switch input:checked + .switch__slider:before {
  transform: translateX(var(--slider-checked-transition));
}
