.panel-clickable{
    cursor: pointer;
}

.panel-clickable:hover .panel-body{
    background: #f4f4f4;
}

.panel-clickable:hover .panel-heading{
    background: #e8e8e8;
    color: #2196f3;
}

.commits-panel{
    height: 440px;
    overflow:auto;
}

.extension-popup{
    height: 500px;
    width: 500px;
}

.options{
    margin: 0; 
    padding: 0; 
    height: 100%; 
    overflow: hidden;
}

.full-screen{
    position:absolute; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    top: 0px; 
}

textarea.resize-vertical {
    resize: vertical;
}
