.extension-popup {
    height: 600px;
    width: 600px;
}

.extension-popup .tab-content {
    padding: 0;
    margin: 0;
}

.commits {
    height: 500px;
    overflow: auto;
}

.commits .commit {
    position: relative;
    overflow: hidden;
}

.commits .commit div {
    cursor: pointer;
    transition: all .5s ease;
}

.commits .commit div p {
    transition: all .5s ease;
}

.commits .commit .panel {
    margin: 0;
    border-bottom: 1px solid #d1d1d1;
}

.commits .commit .panel-heading {
    padding: 0;
    line-height: 30px;
    background-color: #fff;
}

.commits .commit .panel-body {
    padding-bottom: 8px;
    line-height: 20px;
}

.commits .commit .panel-body p {
    margin-bottom: 0;
}

.commits .commit:hover .panel-body {
    background: #f4f4f4;
    color: #225f91;
}

.commits .commit:hover .panel-heading {
    background: #f0f0f1;
    color: #185d95;
}

.commits .commit .result-wrap {
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -50px;
    opacity: 0.0;
    transition: all 0.3 ease;
}

.commits .commit .result-wrap.on {
    top: 0;
    opacity: 0.95;
}

.commits .commit .result-wrap .add-confirm {
    padding: 7px 30px;
    background-color: #185d95;
    color: white;    
}

.options {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    overflow: hidden;
}

.full-screen {
    position:absolute; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    top: 0px; 
}

textarea.resize-vertical {
    resize: vertical;
}

.header-buttons {
    padding: 10px 0 0;
}

.header-buttons .container {
    padding: 0 5px;
}

.btn-wrap {
}

.btn-wrap .btn-caption {
    margin-right: 10px;
}

.btn-wrap:hover .btn-link {
    color: #185d95;
}
