@import "~app/css/variables";
@import "~app/css/mixins";

.app-notification {
    background-color: $color-primary-light;
    border-bottom-left-radius: 6px;
    content: attr(data-clicked);
    color: $color-text-active;
    font-weight: bold;
    opacity: 0;
    position: absolute;
    right: -100px;
    text-transform: uppercase;
    top: -1px;
    @include default-animate();
    @include small-section();
    
    &.app-notification__on {
        opacity: 1;
        right: 0;
    }
}