@import "../variables";

body {
    font-family: "Roboto", "DroidSans", "sans-serif";
    font-size: 13px;
    line-height: 24px;
}

h1 {

}

h2 {

}

h3 {
    
}

.text-mute {
    color: $color-text-mute;
}
