.flex-stretch {
    flex: 1 1 auto;
}

.flex-center {
    display: flex;
    align-items: center;
}

.no-border {
    border: none;
}

.no-shadow {
    box-shadow: none;
}

.pull-right {
    display: flex;
    justify-content: flex-end;
}