@import "~app/css/variables";
@import "~app/css/mixins";

.reportj-list-container {
    display: flex;
    flex-direction: column;
}

.reportj-list {
    display: flex;
    flex-direction: column;

    background-color: $color-background;
    overflow-y: auto;

    &.reportj-has-border {
        border: 1px solid $color-border;

        .reportj-list-item {
            &:last-of-type {
                border-bottom: none;
            }
        }
    }

    .reportj-list-item {
        border-bottom: 1px solid $color-border;
        cursor: pointer;
        padding: 7px 10px;
        @include default-animate();

        &:hover {
            background-color: darken($color-background, 5%);
        }
    }
}