<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.2.0" targetFramework="net452" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net452" />
  <package id="FluentValidation.Configuration" version="0.3.0-rc" targetFramework="net452" />
  <package id="LibGit2Sharp" version="0.23.1" targetFramework="net452" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.164" targetFramework="net452" />
  <package id="SharpSvn.1.9-x86" version="1.9005.3934.158" targetFramework="net452" />
</packages>