@import "./variables";
@import "./mixins";

$link-size: 20px;

.reportj-feature {
    display: flex;

    &.reportj-block {
        margin: 4px 0;
    }
}

.reportj-text-link {
    display: flex;
    cursor: pointer;
}

.reportj-link {
    margin: 0 5px;
    width: $link-size;
    height: $link-size;
    cursor: pointer;
    @include background-img($logo-path);
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}