@import "~app/css/variables";
@import "~app/css/mixins";

.chrome-popup {
    height: $chrome-popup-height;
    width: $chrome-popup-width;
    @include flex-column();

    &-content {
        flex: 1 1 auto;
        @include flex-column();
    }
}