@import "~app/css/variables";
@import "~app/css/mixins";

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.app-loading {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;

    .app-loading-icon-container {
        color: $color-text-mute;
        display: flex;
        justify-content: center;
        padding: $font-size-icon-huge * (0.3);

        .app-loading-icon {
            animation: spin 1s linear infinite;
            font-size: $font-size-icon-huge;
        }
    }

    .app-loading-text {
        color: $color-text-mute;
    }
}