<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Variables.wxi?>

  <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <!--System restrictions-->
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="This application is only supported on Windows Vista, Windows Server 2008 R2, or higher.">
      <![CDATA[Installed OR (VersionNT >= 600 and WindowsBuild >= 6002)]]>
    </Condition>
    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Property Id="INSTALLLOCATION">
      <RegistrySearch Id="RegInstallDir" Type='raw' Root='HKLM' Key='Software\$(var.Manufacturer)\$(var.ProductName)' Name='InstallDir' />
    </Property>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />

    <!--Shortcuts-->
    <Property Id="ADDTOSTARTUP" Value="1" />
    <Property Id="INSTALLDESCKTOPSHORTCUT" Value="1" />
    <Property Id="INSTALLSTARTMENUSHORTCUT" Value="1" />
    <Property Id="WIXUI_EXITDIALOGLAUNCHE" Value="1" />

    <!--UI components initialization-->
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)Resources\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)Resources\dialog.bmp" />
    <UIRef Id="Custom_InstallDir" />

    <!--Icon in "Program & Features"-->
    <Icon Id="icon.ico" SourceFile="$(var.ReportJ.Flare.Client.TargetDir)$(var.IconFileName)" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Feature Id="ProductFeature" Title="$(var.InstallerTitle)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="StartupShortcut" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
      </Directory>
      <Directory Id="DesktopMenuItem">
        <Directory Id="DesktopFolder" Name="$(var.ProductName)" />
      </Directory>
      <Directory Id="StartupFolder">
      </Directory>
    </Directory>
  </Fragment>

</Wix>
