<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Variables.wxi?>

  <Fragment>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="e4f8574d-a69b-4f90-bfd4-7f8350b37760">
        <Condition>INSTALLSTARTMENUSHORTCUT</Condition>
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="StartMenu" Type="integer" Value="1" KeyPath="yes" />
        <Shortcut Id="Shortcut"
                  Name="$(var.ProductName)"
                  Description="$(var.ProductName)"
                  Target="[INSTALLLOCATION]$(var.ExeFileName)"
                  WorkingDirectory="INSTALLLOCATION" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopMenuItem">
      <Component Id="DesktopShortcut" Guid="1c66ca9f-9a03-4357-aafc-56a6b7ac9027">
        <Condition>INSTALLDESCKTOPSHORTCUT</Condition>
        <RegistryValue Id="RegShortcutDesktop" Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="Desktop" Value="1" Type="integer" KeyPath="yes" />
        <Shortcut Id="Desktop"
                  Name="$(var.ProductName)"
                  Directory="DesktopFolder"
                  Target="[INSTALLLOCATION]$(var.ExeFileName)"
                  WorkingDirectory="INSTALLLOCATION"
                  Advertise="no" />
        <RemoveFile Id="DesktopShortcut" Name="$(var.ProductName)" On="uninstall" />
      </Component>
    </DirectoryRef>

  </Fragment>

</Wix>