@import "~app/css/variables";
@import "~app/css/mixins";

.app-no-templates-message {
    align-items: center;
    justify-content: center;
    @include flex-column();
    @include large-section();

    .material-icons {
        font-size: $font-size-icon-huge;
    }
}