@import "~app/css/mixins";

.app-mode-selector {
    height: 100%;
    flex: 1 1 auto;
    @include flex-column();

    &-content {
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
    }
}