@import "../variables";
@import "../mixins";

.app-list {
    background-color: $color-background;
    @include flex-column();

    .app-list-item {
        border-bottom: 1px solid $color-border;
        cursor: pointer;
        position: relative;
        @include default-animate;
        @include mid-section;

        &:hover:not(:disabled) {
            background-color: $color-background-hover;
        }
    }
}