<div class="jumbotron">
    <h2 class="text-primary">ReportJ.Flare</h2>
    <div class="row">
        <div class="col-sm-4 text-center">
            <img src="~/Content/images/animation-rocket.gif" height="340"/>
        </div>
        <div class="col-sm-8 text-justify">
            <p><b>ReportJ.Flare</b> provide easy way to speed up your reporting.</p>
            <p>All you need is to install Desktop Application. After installation you will be able to use all Flare possibilities. Such as:</p>
            <div class="row">
                <div class="col-sm-2 text-center">
                    <img src="~/Content/images/git.png" width="70"/>
                </div>
                <div class="col-sm-10 text-justify">
                    <p>Observe your latest git-commits from any available repository and use them in reporting.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 text-center">
                    <img src="~/Content/images/svn-icon.png" width="80"/>
                </div>
                <div class="col-sm-10 text-justify">
                    <p>Browse your latest svn-commits history and use commits information for reporting.</p>
                </div>
            </div>
            <div class="row well well-lg">
                <div class="col-sm-12 text-right">
                    <a class="btn btn-lg btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301872">Get Flare Now &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
