<!DOCTYPE html>
<html lang="en" ng-app="jiraReporterApp">

<head>
    <meta charset="UTF-8">
    <title>Jira.Extension Settings</title>

    <link rel="stylesheet" href="lib/bootstrap.paper.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/optionsController.js"></script>
</head>

<body ng-controller="OptionsController" style="width: 100%">

    <div id="container">
        <div class="col-lg-6 col-md-offset-3 panel panel-default">
            <div class="panel-body">

                <div class="options">

                    <div class="header">
                        <div class="header-icon">
                            <img src="img/jira.png" alt="jira" />
                        </div>
                        <h3 class="text-center">JIRA Report Helper Settings</h3>
                    </div>

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#repositorySettings" data-toggle="tab" aria-expanded="true">Repositories</a></li>
                        <li class=""><a href="#about" data-toggle="tab" aria-expanded="false">About</a></li>
                    </ul>

                    <div id="settings" class="tab-content well">

                        <div id="repositorySettings" class="fade tab-pane active in">

                            <form class="form-horizontal">
                                <fieldset>
                                    <legend>SVN Repositories</legend>
                                </fieldset>
                                <div class="repositories">
                                    <div class="repository" ng-repeat="repository in svnRepositories">
                                        <div class="col-lg-12 panel panel-default">
                                            <div class="panel-body">
                                                <div class="col-lg-8"><b>{{repository.Name}}</b></div>
                                                <div class="col-lg-4 text-right" title="User Name">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                    <strong>{{repository.UserName}}</strong>
                                                </div>
                                                <div class="col-lg-10"><p>{{repository.Url}}</p></div>
                                                <button type="button" class="btn btn-link col-lg-1" title="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
                                                <button type="button" class="btn btn-link col-lg-1" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#repositoryEditModal" ng-click="addSvnRepository">Add Repository</button>

                            <div class="well"></div>

                            <form class="form-horizontal">
                                <fieldset>
                                    <legend>Git Repositories</legend>
                                </fieldset>
                                <div id="gitRepositories" class="well">
                                    Comming soon ...
                                </div>
                            </form>
                            <button id="btnAddRepository" class="btn btn-primary disabled">Add Repository</button>
                        </div>

                        <div id="repositoryEditModal" class="modal modal-custom">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            <span class="">&times;</span>
                                        </button>
                                        <img class="modal-header-icon" src="img/svn.png" alt="svn" />
                                        <h4 class="modal-title">SVN Repository Settings</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label for="repositoryName" class="col-lg-3 control-label">Name</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" id="repositoryName" placeholder="Repository Name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="repositoryUrl" class="col-lg-3 control-label">Repository URL</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" id="repositoryUrl" placeholder="Repository URL">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="repositoryUsername" class="col-lg-3 control-label">User Name</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" id="repositoryUsername" placeholder="User Name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="repositoryPassword" class="col-lg-3 control-label">Password</label>
                                                    <div class="col-lg-9">
                                                        <input type="password" class="form-control" id="repositoryPassword" placeholder="Password">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="about" class="tab-pane fade well">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora alias pariatur blanditiis dolorem tenetur ab, enim rerum recusandae, expedita, repellendus itaque corporis necessitatibus illum vel iste quidem eos modi obcaecati in hic impedit neque? Unde nostrum minima et odit dolorem, libero beatae at accusamus delectus consequuntur architecto fuga distinctio eveniet nam animi omnis sunt esse optio dolore excepturi tenetur earum sit soluta itaque. Sed quia optio, reprehenderit doloribus neque ad ratione? Perferendis, quam. Iusto, dolorem. Nisi tenetur dolor cum minima odit corporis iure ratione voluptatem fugiat, dolorem aliquid, culpa pariatur nemo deserunt sapiente repudiandae id ad.</div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    
    <div class="notification-wrap" ng-class="{ on: notify === true, success: isNoticaitionSuccess === true, warning: isNoticaitionSuccess !== true }">
        <div class="notification-icon">
            <span class="glyphicon" ng-class="{ 'glyphicon-ok': isNoticaitionSuccess === true, 'glyphicon-remove': isNoticaitionSuccess !== true }"></span>
        </div>
        <div class="notification-message"><strong>Options saved</strong></div>
    </div>

    <script src="lib/bootstrap.min.js"></script>
</body>

</html>