<!DOCTYPE html>
<html lang="en" ng-app="jiraReporterApp">

<head>
    <meta charset="UTF-8">
    <title>JIRA Report Helper Settings</title>

    <link rel="stylesheet" href="lib/bootstrap.paper.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/storageService.js"></script>
    <script type="text/javascript" src="js/commitsService.js"></script>
    <script type="text/javascript" src="js/optionsController.js"></script>
</head>

<body class="options-wrap" ng-controller="OptionsController">

    <div id="container">
        <div class="col-lg-6 col-md-offset-3 panel panel-default">
            <div class="panel-body">

                <div class="options">

                    <div class="header">
                        <div class="header-icon">
                            <img src="img/jira.png" alt="jira" />
                        </div>
                        <div class="header-title text-center">
                            <h3 class="text-center">JIRA Report Helper Settings</h3>
                        </div>
                    </div>

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#repositorySettings" data-toggle="tab" aria-expanded="true">Repositories</a></li>
                        <li class=""><a href="#about" data-toggle="tab" aria-expanded="false">About</a></li>
                    </ul>

                    <div id="settings" class="tab-content well">

                        <div id="repositorySettings" class="fade tab-pane active in">

                            <form class="form-horizontal">
                                <fieldset>
                                    <legend>SVN Repositories</legend>
                                </fieldset>
                                <div class="repositories">
                                    <div class="repository" ng-repeat="repository in repositories | filter: { type: 'svn' } | orderBy: 'name'">
                                        <div class="col-lg-12 panel panel-default">
                                            <div class="panel-body">
                                                <div class="col-lg-8"><b>{{repository.name}}</b></div>
                                                <div class="col-lg-4 text-right" title="User Name">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                    <strong>{{repository.userName}}</strong>
                                                </div>
                                                <div class="col-lg-10">
                                                    <p>{{repository.url}}</p>
                                                </div>
                                                <button type="button" class="btn btn-link col-lg-1" title="Edit" ng-click="editRepository(repository)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button type="button" class="btn btn-link col-lg-1" title="Delete" ng-click="removeRepository(repository)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center" ng-show="repositories.length === 0">
                                    <div><span class="glyphicon glyphicon-default glyphicon-search"></span></div>
                                    <h5>You have no repositories!</h5>
                                    <h6>It's perfect chance to <a href="#" ng-click="editRepository(null, 'svn')"> add your first one</a></h6>
                                </div>

                            </form>
                            <div class="inline-group" ng-show="repositories.length > 0">
                                <button class="btn btn-primary" ng-click="editRepository(null, 'svn')" ng-disabled="isMaxSvnRepoCountExceed">Add Repository</button>
                                <p class="off" ng-class="{ off: isMaxSvnRepoCountExceed !== true }" style="width: 20px;">Sorry, but quota for count of repositories is <strong>{{maxRepoQuota}}</strong> for each repository type.</p>
                            </div>

                            <div class="well"></div>

                            <form class="form-horizontal">
                                <fieldset>
                                    <legend>Git Repositories</legend>
                                </fieldset>
                                <div id="gitRepositories" class="well">
                                    Comming soon ...
                                </div>
                            </form>
                            <button class="btn btn-primary disabled" ng-click="editRepository({}, 'git')" disabled>Add Repository</button>
                        </div>

                        <div id="repositoryEditModal" class="modal modal-custom">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            <span class="">&times;</span>
                                        </button>
                                        <img class="modal-header-icon" src="img/svn.png" alt="svn" />
                                        <h4 class="modal-title">SVN Repository Settings</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" name="repoForm" ng-submit="saveRepository(editedRepository)">
                                            <fieldset>
                                                <div class="form-group" ng-class="{ 'has-error': repoForm.name.$dirty && repoForm.name.$invalid}">
                                                    <label for="repositoryName" class="col-lg-3 control-label">Name</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" placeholder="Repository Name" required 
                                                            name="name" ng-model="editedRepository.name">
                                                        <span ng-class="{ required: repoForm.name.$error.required }"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-class="{ 'has-error': repoForm.url.$dirty && repoForm.url.$invalid}">
                                                    <label for="repositoryUrl" class="col-lg-3 control-label">Repository URL</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" placeholder="Repository URL" required
                                                            name="url" ng-model="editedRepository.url">
                                                        <span ng-class="{ required: repoForm.url.$error.required }"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-class="{ 'has-error': repoForm.username.$dirty && repoForm.username.$invalid}">
                                                    <label for="repositoryUsername" class="col-lg-3 control-label">User Name</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" placeholder="User Name" required
                                                            name="username" ng-model="editedRepository.userName">
                                                        <span ng-class="{ required: repoForm.username.$error.required }"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-class="{ 'has-error': repoForm.password.$dirty && repoForm.password.$invalid}">
                                                    <label for="repositoryPassword" class="col-lg-3 control-label">Password</label>
                                                    <div class="col-lg-9">
                                                        <input type="password" class="form-control" placeholder="Password" required
                                                            name="password" ng-model="editedRepository.password"
                                                            equals="{{editedRepository.passwordConfirm}}">
                                                        <span ng-class="{ required: repoForm.password.$error.required }"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group" 
                                                   ng-class="{ 'has-error': repoForm.passwordConfirm.$dirty && repoForm.passwordConfirm.$invalid}">
                                                    <label for="repositoryPasswordConfirm" class="col-lg-3 control-label">Confirm Password</label>
                                                    <div class="col-lg-9">
                                                        <input type="password" class="form-control" placeholder="Password Confirmation" required
                                                            name="passwordConfirm" ng-model="editedRepository.passwordConfirm"
                                                            equals="{{editedRepository.password}}">
                                                        <span ng-class="{ required: repoForm.passwordConfirm.$error.required }"></span>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" value="Save changes" class="btn btn-primary" 
                                            ng-click="saveRepository(editedRepository)" ng-disabled="repoForm.$invalid">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="about" class="tab-pane fade well">
                            <h5>JIRA Report Helper v2.0</h5>
                            <p>This extension designed to improve reporting expirience inside JIRA system. It's made to make reporting easier and provide short way for adding of main report parts such as issue title or your previous commits information.</p>
                            <p>Idea and functionailty of extension was gets from personal expiarance of work with JIRA. And I will be happy to hear about your suggestions. So, don't hesitate to click on button in right-bottom corner.</p>
                            <p>If you want to help to improve extension you could visit <a target="_blank" href="https://github.com/mishani0x0ef/Jira.Extrension">GitHub page</a> and put your weight. Exspecially i would be appritiated if someone can create extension for Firefox.</p>
                            <h6>Contact me:</h6>
                            <ul>
                                <li><a href="mailto:mishani0x0ef@gmail.com?subject=JIRA Report Helper">Email</a></li>
                                <li><a target="_blank" href="https://docs.google.com/forms/d/1x3dH1dE1GtiwZO8lsT8YNthr4d1R_8pZsU2Om1aBLLw/viewform?usp=send_form">Leave feedback</a></li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="notification-wrap" ng-class="{ on: notify === true, success: isNoticaitionSuccess === true, warning: isNoticaitionSuccess !== true }">
        <div class="notification-icon">
            <span class="glyphicon" ng-class="{ 'glyphicon-ok': isNoticaitionSuccess === true, 'glyphicon-remove': isNoticaitionSuccess !== true }"></span>
        </div>
        <div class="notification-message"><strong>Options saved</strong></div>
    </div>

    <div class="round-btn-wrap">
        <div class="round-btn-menu">
            <div class="round-btn-menu-item">
                <a type="button" class="btn btn-icon github-icon" data-title="View on GitHub" target="_blank" href="https://github.com/mishani0x0ef/Jira.Extrension">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="64pt" height="64pt" viewBox="0 0 64 64">
                        <g transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)" fill="#000" stroke="none">
                            <path d="M224 626 c-232 -76 -298 -370 -119 -535 42 -39 99 -71 125 -71 5 0 10 16 10 35 0 33 -2 35 -35 35 -35 0 -42 5 -90 66 -44 56 -23 62 32 9 42 -40 75 -45 98 -12 14 21 14 22 -7 30 -60 23 -88 42 -102 72 -21 43 -21 124 0 153 8 12 12 27 9 32 -10 16 5 70 18 70 7 0 24 -6 38 -14 17 -9 60 -14 119 -14 59 0 102 5 119 14 14 8 31 14 38 14 13 0 28 -54 18 -70 -3 -5 1 -20 9 -32 18 -25 21 -103 7 -141 -14 -36 -50 -66 -93 -78 -33 -9 -37 -12 -28 -29 5 -10 10 -46 10 -79 0 -35 4 -61 10 -61 52 0 158 88 198 165 23 43 27 63 27 135 0 70 -4 94 -24 135 -32 63 -93 125 -155 155 -60 28 -171 36 -232 16z" />
                        </g>
                    </svg>
                </a>
            </div>
        </div>
        <div class="round-btn">
            <a type="button" class="btn btn-primary btn-lg" data-title="Send Feedback" target="_blank" href="https://docs.google.com/forms/d/1x3dH1dE1GtiwZO8lsT8YNthr4d1R_8pZsU2Om1aBLLw/viewform?usp=send_form">
                <span class="glyphicon glyphicon-envelope"></span>
            </a>
        </div>
    </div>

    <script src="lib/bootstrap.min.js"></script>
</body>

</html>