.fade {
    &-enter {
        opacity: 0.01;

        &.fade-enter-active {
            opacity: 1;
            transition: opacity 300ms ease-in;
        }
    }

    &-leave {
        opacity: 1;

        &.fade-leave-active {
            opacity: 0.01;
            transition: opacity 250ms ease-in;
        }
    }
}