@import "~root/css/variables";
@import "~root/css/mixins";

reportj-log-time {
    .time-selector {
        position: relative;
        display: inline-flex;
        vertical-align: middle;
    }

    h4 {
        margin: 0;
    }

    .log-work-popup {
        display: none;
        background-color: $color-background;
        padding: 12px 16px;
        box-shadow: $panel-shadow;

        &.active {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 25px;
            left: -75px;
            z-index: $z-index-base-popup;
        }
        
        .popup-section {
            display: flex;
            flex-direction: column;
            padding-bottom: 12px;
        }

        .popup-section:last-of-type {
            padding-bottom: 0;
        }

        .buttons-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }

        .grid-row {
            display: flex;
            border: 1px solid $color-border;

            .grid-cell {
                display: flex;
                flex-grow: 1;
                border-right: 1px solid $color-border;
                text-align: center;

                &.active {
                    font-weight: bold;
                    background-color: lighten($color-primary, 75%);
                }

                input {
                    display: none;
                }

                label {
                    width: 100%;
                    height: 100%;
                    padding: 6px 8px;
                    color: $color-text;
                }
            }

            .grid-cell:last-of-type {
                border: none;
            }
        }
    }
}