@import "~app/css/variables";
@import "~app/css/mixins";

.app-under-development {
    align-items: center;
    justify-content: center;
    @include flex-column();
    @include large-section();

    .app-under-development-icon {
        animation: wrench-working 2s linear infinite;
        font-size: $font-size-icon-huge;
    }
}