.header .header-icon {
    margin-bottom: 10px;
}

.header .header-title {
    padding-bottom: 10px;
}

.modal.modal-custom .modal-dialog .modal-content .modal-header {
    position: relative;
    line-height: 40px;
}

.modal.modal-custom .modal-dialog .modal-content .modal-header .modal-title {
    padding-left: 15px;
    color: #003366;
    line-height: 40px;
}

.modal.modal-custom .modal-dialog .modal-content .modal-header .modal-header-icon {
    margin-top: -7px;
    height: 40px;
}

.modal.modal-custom .modal-dialog .modal-content .modal-header h4 {
    display: inline;
}

.modal.modal-custom .modal-dialog .modal-content .modal-body {
    margin: 15px;
}

.extension-popup {
    height: 600px;
    width: 600px;
}

.extension-popup .tab-content {
    padding: 0;
    margin: 0;
}

.popup-content {
    height: 510px;
    position: relative;
    overflow: auto;
}

.popup-content.disabled {
    overflow: hidden;
}

.list {
    position: relative;
    display: block;
    margin: 15px 0 20px;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

.list-item {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 7px 10px 8px;
    background: #ffffff;
    border-bottom: 1px solid #dedede;
    vertical-align: middle;
    overflow: hidden;
}

.list-item:hover:not(:disabled) {
    cursor: pointer;
    background-color: #f4f4f4;
}

.result-wrap {
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    height: 0;
    left: 0;
    top: -50px;
    opacity: 0.0;
    transition: all 0.3s ease;
}

.result-wrap.on {
    top: 0;
    height: auto;
    opacity: 0.95;
}

.result-wrap .add-confirm {
    padding: 7px 30px;
    background-color: #185d95;
    color: white;
}

.warning-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    text-align: center;
    background: #fff;
    opacity: 0.0;
    z-index: -1;
    overflow: hidden;
    transition: all 0.25 ease;
}

.warning-wrap.on {
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1.0;
}

.warning-wrap .warning {
    padding: 100px 30px;
}

.warning-wrap .warning .warning-icon {
    font-size: 40px;
}

.header-buttons {
    padding: 10px 0 0;
}

.header-buttons .container {
    padding: 0 5px;
}

.btn-wrap .btn-caption {
    margin-right: 10px;
}

.btn-wrap:hover .btn-link:enabled {
    color: #185d95;
}

.btn-wrap .btn-link[disabled] {
	background: none;
	color: #D3D3D3;
}

.btn-wrap:hover .btn-link[disabled] {
	background: none;
	color: #D3D3D3;
}


/* Options styles */

.options-wrap {
    background: #F2F2F2;
}

.options {
    margin: 0;
    padding: 0;
    height: 100%;
}

.options .header {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.options .header h3 {
    color: #003366;
}

.notification-wrap {
    position: fixed;
    top: -50px;
    right: 25px;
    height: 0;
    opacity: 0;
    padding: 10px 25px 5px 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    transition: all 1s ease;
}

.notification-wrap.on {
    top: 0;
    height: 42px;
    opacity: 0.95;
}

.notification-wrap .notification-icon {
    display: inline-block;
    margin: 0 5px;
}

.notification-wrap .notification-message {
    display: inline-block;
    margin: 0 5px;
    letter-spacing: 1.3px;
}

.notification-wrap.success {
    background-color: #185d95;
}

.notification-wrap.warning {
    background-color: #FF9800;
}

.inline-group {
    display: flex;
    align-items: center;
}

.inline-group > span {
    margin-left: 10px;
}

.inline-group > .off {
    margin: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
}

.round-btn-wrap {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 5px;
    transition: all 0.5s ease;
}

.round-btn-wrap .btn:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.round-btn-wrap a {
    position: relative;
}

.round-btn-wrap a[data-title]:hover:after {
    content: attr(data-title);
    position: absolute;
    top: 0;
    right: 70px;
    z-index: 20;
    color: #003366;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
}

.round-btn-wrap .round-btn .btn {
    border-radius: 10em;
    padding: 0;
    margin: 0;
    width: 56px;
    height: 56px;
    line-height: 60px;
    text-align: center;
    font-size: 22px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.round-btn-wrap .round-btn:hover .btn {
    box-shadow: 2px 2px 17px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.round-btn-wrap .round-btn:hover .btn {
    font-size: 24px;
}

.round-btn-wrap .round-btn-menu {
    transition: all 1s ease;
    opacity: 0;
}

.round-btn-wrap:hover .round-btn-menu {
    opacity: 1;
}

.round-btn-wrap .round-btn-menu .round-btn-menu-item {
    padding: 5px 0;
    text-align: center;
}

.round-btn-wrap .round-btn-menu .round-btn-menu-item .btn {
    border-radius: 10em;
    padding: 0;
    margin: 20px 0;
    width: 42px;
    height: 42px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
}

.round-btn-wrap:hover .round-btn-menu .round-btn-menu-item .btn {
    margin: 5px 0;
}

.round-btn-wrap .round-btn-menu .round-btn-menu-item .btn img,
svg {
    width: 42px;
    height: 42px;
}

.round-btn-wrap .round-btn-menu .round-btn-menu-item .github-icon svg path {
    fill: #55297D;
}

.round-btn-wrap .round-btn-menu .round-btn-menu-item:hover .github-icon svg path {
    fill: #482469;
}

.btn-icon {
    background-color: transparent;
}

.loading-wrap {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    opacity: 0.0;
    background: #fff;
    transition: all 0.5s ease;
    overflow: hidden;
}

.loading-wrap.on {
    height: 100%;
    opacity: 1.0;
}

.loading-wrap .progress-wrap {
    margin-top: 180px;
    margin-left: 20%;
    width: 60%;
}

.loading-wrap .progress-wrap .icon {
    font-size: 30px;
}

.glyphicon-default {
    font-size: 24px;
}

.required:after {
    content: "*";
    color: red;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    opacity: 0.5;
}

.error-summary {
    margin: 0 15px;
}

.content-block {
    margin: 40px 0;
}