@mixin background-img($url) {
    background-image: url($url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin default-animate() {
    transition: all 0.5s ease;
}