// Colors

$color-primary: #003366;
$color-primary-light: #3b73af;

$color-background: #fff;
$color-background-hover: #f4f4f4;

$color-text: #333;
$color-text-mute: #666;
$color-text-active: #fff;

$color-border: #dedede;

// Popup

$chrome-popup-height: 600px;
$chrome-popup-width: 500px;

// Images

$logo-path: "https://raw.githubusercontent.com/mishani0x0ef/ReportJ/master/resources/Icons/logo48x48.png";

// Shadows

$panel-shadow: 0 1px 4px rgba(0,0,0,0.3);

// Z-Index

$z-index-base-popup: 1;