.reportj-checkbox-group {
  box-shadow: var(--shadow-tiny);
  border-radius: var(--border-radius-large);
  display: flex;
  padding: var(--spacing-tiny);
  width: 100%;
}

.reportj-checkbox-group__checkbox {
  flex: 1;
  margin: 0;
  border-radius: var(--border-radius-large);
  color: var(--font-color-disabled);
  cursor: pointer;
  padding: var(--spacing-base) var(--spacing-large);
  text-align: center;
  transition: background-color var(--animation-speed);
}

.reportj-checkbox-group__checkbox:hover {
  background: var(--color-hover);
}

.reportj-checkbox-group__checkbox input {
  display: none;
}
