.reportj-time-selector {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
  width: 100%;
}

.reportj-time-selector__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-large);
}
