@import "~app/css/variables";
@import "~app/css/mixins";

$indicator-height: 5px;

.app-linear-progress {
    align-items: center;
    display: flex;
    @include mid-section();
    padding-left: 0;
    padding-right: 0;

    .app-linear-progress-indicator-container {
        background-color: $color-border;
        flex: 1;
        height: $indicator-height;

        .app-linear-progress-indicator {
            background-color: $color-primary;
            height: 100%;
        }
    }

    .app-linear-progress-message {
        margin-left: 12px;
    }
}