.preference {
  display: flex;
  align-items: center;
  gap: var(--spacing-base);
}

.preference__label {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.preference label:nth-child(2) {
  flex-shrink: 0;
}
